<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- General settings -->
    <add key="Source" value="C:\Users\Zafer\Desktop\source" />
    <add key="Target" value="C:\Users\Zafer\Desktop\target" />
    <!-- XML Settings -->
    <add key="GenerateXml" value="true"/>
    <add key="XmlPath" value="C:\Users\Zafer\Desktop\" />
    <add key="XmlFileName" value="generated.xml" />
    <add key="CompressXml" value="true" />
    <!-- File Generation -->
    <add key="GenerateFile" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>